<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>View Media</title>
  <link rel="stylesheet" href="../styles/main.css" />
</head>
<body>

  <div class="container">
    <h1>Storage</h1>

    <div style="margin-bottom: 1.5rem;">
      <button onclick="fetchMedia('images')">View Images</button>
      <button onclick="fetchMedia('videos')">View Videos</button>
      <button onclick="fetchMedia('sounds')">View Sounds</button>
    </div>

    <div id="image-grid" class="grid"></div>
    <div id="lightbox" class="lightbox hidden">
      <span id="lightbox-close">&times;</span>
      <img id="lightbox-img" src="" alt="Expanded image">
    </div>
    
  </div>

 <nav>
    <a href="../index.html">← Back to Home</a>
  </nav>

  <script src="view.js"></script>
  

</body>
</html>
